.hero-section {
  background-color: #343a40;
  padding: 100px 0;
}

.hero-section h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

p {
  font-size: 25px;
  margin-bottom: 20px;
}

.hero-section Button {
  font-size: 1.25rem;
}
